@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@media (max-width: 768px) {
  .icon-container {
    margin-left: 20px;
  }
}


.linha {
    background-color: #5CE1E6;
}

.bn{
    max-width: 100%;
}

#polit2{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex{
    display: flex;
}
.pesquisar{
    padding: 10px 300px 10px 10px;
    border: none;
    
}
.border{
    border: none;
}

.embaixo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-right: 25px;
    margin-bottom: 20px;
}

.fundo_areas{
    background: url(../images/fundo.png) no-repeat fixed;
    background-size: cover;
}
/* img dos cards do home */
.img_card1{
    background: url(../images/objetivo.jpg) no-repeat;
    border-radius: 10px;
}
.img_card2{
    background: url(../images/comprimento.jpg) no-repeat;
    border-radius: 10px;
}
.img_card3{
    background: url(../images/anota.jpg) no-repeat;
    border-radius: 10px;
}
.img_card4{
    background: url(../images/din.jpg) no-repeat;
    border-radius: 10px;
}
.img_card5{
    background: url(../images/atendimento.jpg) no-repeat;
    border-radius: 10px;
}
.img_card6{
    background: url(../images/pc.jpg) no-repeat;
    border-radius: 10px;
}
.rod{
    max-width: 100%;
}
/* fim img dos cards do home */
.fundo_adm{
    background: url(../images/fundo_adm1.png) no-repeat fixed;
    background-size: cover;
}

.buttonBoxMenu{
    color: white;
    border: solid 2px white;
    text-decoration: none;
    padding: 1px;
    color: white;
}

.a{
    margin-bottom: -50px;
}

.banner{
    background: url(../images/banner.jpg) no-repeat;
    height: 300px;
    width: 100%;
}

.redondobtn{
    border-radius: 50px;
    color: #fff;
    background-color: #38B6FF;
}

.redondobtn:hover{
    border: 3px solid #fff;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}
.sombra{
    -webkit-box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
    box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
}

/* começo login */

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}  
#fundo_cli{
    /* fundo do cliente */
     background: url('../images/login.jfif')no-repeat;
     background-position: center;
     background-size: cover;
}

#fundo{
    background: url('../images/fundo_func.png')no-repeat;
    background-position: center;
    background-size: cover;
}

.formbox{
    position:relative;
    width: 340px;
    height: 450px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px; 
    backdrop-filter:blur(30px);
    -webkit-box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
    box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
}

.formbox h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;

}
.inputbox input:hover{
    background-color: transparent;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform:translateY(-120%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:focus ~ :valid{

    top: -5px;

}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;

}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;

}

.forget{
    margin: -15px 8 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
    color: #FFB800;
    margin-bottom: 30px;
}

.forget label a{
    color: #FFB800;
    text-decoration: none;
    
    
}

.forget label a:hover{
    text-decoration: underline;

}

.form-value button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    background: #fff;
    cursor: pointer;
    font-size: 18pt;
    font-weight: 500;

}

#loginBtn:hover{
    background-color: rgb(23, 182, 23);
    color: #fff;
    transition: 0.5s;
}
.register{
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 18px;
}

.register p {
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;


}

.register p a{
    color: #FFB800;
    text-decoration: none;
    font-weight: 600;
    padding-left: 5px;

}

.register p a:hover{
    text-decoration: underline;
}

/* fim login */

.formboxcad{
    position:relative;
    width: 450px;
    height: 550px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: white;
    border: 2px solid white;
    border-radius: 20px; 
    backdrop-filter:blur(30px);

}

.cad{
    text-decoration-color: black;
}

/* /////////////////////// PAGINA DE TERMOS ////////////////////////// */

.termos_fixo{
    background: url('../images/fundo_termos.png') fixed no-repeat;
    background-size: cover;
}

.texto-amarelo{
    color: #FFB800;
}

/* /////////////////////// PAGINAS DE LOGIN /////////////////////// */
.show-password {
    position: relative;
    display: inline-block;
}

.show-password input {
    padding-right: 25px;
}

.show-password button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

#formbox-cadastro{
    position:relative;
    width: 330px;
    height: 560px;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px; 
    backdrop-filter:blur(30px);
}

#formbox-cadastro h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

/* /////////// cod verificação  //////////////*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  padding: 50px;
  border: #fff 1px  solid;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  -webkit-box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
          box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
  max-width: 320px;
}

.info {
  margin-bottom: 10px;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.description {
  color: #fff;
  margin-top: 10px;
  font-size: 15px;
}

.form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.form .inputs input {
  height: 2.5em;
  width: 2.5em;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  border-radius: 0.3em;
  border: 1px solid rgba(253, 253, 253, 0.363);
  background-color: rgb(255 255 255 / 0.05);
}

.form .inputs input:focus {
  border: 1px solid rgb(99 102 241);
}

.resend {
  color: #fff;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.resend-action {
  text-decoration: none;
  cursor: pointer;
  margin-left: 6px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.resend-action:hover {
  -webkit-text-decoration: underline #2b8af7;
          text-decoration: underline #2b8af7;
}

.validate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  background-color: #fff ;
  padding: 10px 20px;
  margin: 8px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}


.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #3f4c6b;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.close:hover {
  background-color: rgba(255, 0, 0, 0.603);
}
/* ////////////////////// EFEITO HOVER DO MENU PUBLICO ///////////////////// */

#nav-item2-flutuante {
    transition: transform 0.3s ease-in-out;
}
#nav-item2-flutuante:hover {
    transform: scale(1.1);
}
#nav-item2-flutuante:not(:hover) {
    transform: scale(0.9);
}

.item2{
    transition: transform 0.3s ease-in-out;
}

.item2:hover {
    transform: scale(1.1);
}
.item2:not(:hover) {
    transform: scale(0.9);
}
/* //////////////////// Cards Conscientização /////////////////////// */
.cards{
    width: 50%;
}




 /*///////// CONTATO //////////////////////////*/
 .form_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
      0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
      0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
  }
  
  .logo_container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
    border: 1px solid #F7F7F8;
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
  }
#main_cont div div i {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: clamp(70px, 6vw, 200px);
  }

.cards{
    justify-content: center;
    text-align:left
}

/*////////// FORMULÁRIO DE CONTATO //////////////////////*/
.content{
    display: flex;
    font-family: 'Poppins', sans-serif;
    padding: 0 5%;
    margin-bottom: 45px;
}

.left-side{
    width: 100%;
    margin-top: 45px;
    padding-right: 5%;
}

.left-side h4{
    font-size: 50px;
    color: #38B6FF;
}

.rigth-side{
    width: 100%;
    margin-top: 45px;
}

.rigth-side img{
    width: 100%;
    border-radius: 10px;
}

.botao{
    transition: transform 0.3s ease-in-out;
}

.botao:hover {
    transform: scale(1.1);
}
.botao:not(:hover) {
    transform: scale(1);
}

.img_contato img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.texto_contato{
    text-align: center;
    margin-top: 5%;
    color: #2b8af7;
    font-family: 'Poppins', sans-serif;
}

/* //////////////////////  AREA DO ADM /////////////////// */

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f8f9fa;
}
  
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25rem;
}
  
::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bg-azul{
    background-color: #14628F;
}

.bg-azul2{
    background-color: #38B6FF;
}


.card2{
    transition: transform 0.3s ease-in-out;
}

.card2:hover {
    transform: scale(1.1);
}
.card2:not(:hover) {
    transform: scale(1.0);
}

#escondido2{
    margin-left: 280px;
}

#img-bloqueado{
    display: none;
}

@media (max-width: 926px) {
    #escondido{
        display: none;
    }

    #escondido2{
        margin-left: 0;
    }

    #img-bloqueado{
        display: block;
    }
}

#cpf::placeholder{
    color: rgb(199, 199, 199);
}

#senha::placeholder{
    color: rgb(199, 199, 199);
}

#AdmOpcoesbtn{
    text-decoration: none;
    color: white;
}

#AdmOpcoesbtn:hover{
    color: #FFB800;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    text-decoration: none;
}


/* /////////////////// Cards Que Viram /////////// */

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 350px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-left: 55px;
}
  
.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 4px solid #5CE1E6;
    border-radius: 1rem;
    background-color: white; 
}
  
.flip-card-front {
background-color: white; 
       
    
}
  
.flip-card-back {
    transform: rotateY(180deg);
}
  
.borda{
    border: 2px solid;
    border-radius: 2rem;
}

/* //////////////////// Card de joinha /////////////////////// */


/* //////////////////// Fim Card de joinha /////////////////////// */

/* ///////////////////////// MENU PERFIL ADM //////////////////////////// */
#texto-navs{
    color: white;
    font-size: 11pt;
}

#texto-navs:hover{
    color: #879bd3;
}

.celular{
    width: 50%;
    
    
}
.center{
    margin: 100px 120px 48px 120px;
    
}



/* ///////////////////////// Drop down //////////////////////////// */

#accordionExample{
border-radius: 15px;
justify-content: center !important; 
width: 40%;
display: block;
margin-left: 30%;

}
.btn-orange {
    background-color: blue;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-orange:hover {
    background-color: #fff;
    color: blue;
    border-color: blue;
  }
  

